* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7219b5;
}

        /*///////////////////////////
                GAMEBOARD
        //////////////////////////*/
.gamemode-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scoreboard {
    text-align: center;
    width: 250px;
    font-family: 'Anton', sans-serif;
    color: white;
}

.scoreboard > h2:hover span {
    opacity: 1;
}

.scoreboard > h2 {
    font-size: 2rem;
}

.username {
    letter-spacing: 2px;
}

.change-pseudo {
    padding-left: 10px;
    filter: invert(1);
    opacity: 0.4;
    transition: opacity 0.5s ease;
}

.change-pseudo > img {
    height: 15px;
    pointer-events: none;
}

.scoreboard > h3 {
    font-size: 3.5rem;
}

.grid {
    height: auto;
    width: auto;
    border: 1px solid white;
}

.line {
    display: flex;
}

.cell {
    height: 120px;
    width: 120px;
    border: 2px solid white;
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-clicked {
    pointer-events: none;
    font-family: 'Varela Round', sans-serif;
}

.gameboard-button-placeholder {
    width: 40%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.gameboard-button-placeholder > button {
    height: 40px;
    width: 150px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #7219b5;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.gameboard-button-placeholder > button:hover {
    background-color: white;
    color: #7219b5;
}


