* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

        /*///////////////////////////
                GAMEMODE MENU
        //////////////////////////*/

.gamemode-selection {
    display: none;
    width: 500px;
    text-align: center;
}

.gamemode-selection > h2 {
    margin-bottom: 50px;
    font-size: 2rem;
}

.gamemode-button-placeholder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gamemode-button-placeholder > button {
    height: 60px;
    width: 200px;
    font-size: 1.1rem;
    text-transform: capitalize;
}

        /*///////////////////////////
                GAMEBOARD
        //////////////////////////*/
.gamemode-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scoreboard {
    text-align: center;
}

.scoreboard > h2:hover span {
    opacity: 1;
}

.scoreboard > h2 {
    font-size: 2rem;
}

.scoreboard > h2 > span {
    padding-left: 10px;
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

.scoreboard > h2 > span > img {
    height: 15px;
    pointer-events: none;
}

.scoreboard > h3 {
    font-size: 3.5rem;
}

.grid {
    height:360px;
    width: 360px;
}

.line {
    display: flex;
}

.cell {
    height: 120px;
    width: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-clicked {
    pointer-events: none;
}

.gameboard-button-placeholder {
    width: 40%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}


